@font-face {
    font-family:gily-roy;
    src: url(./fonts/Gilroy-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    font-family: gily-roy;
}

body{
    height: 100%;
    width: 100%;
}

#main{
    height: 140vh;
    width: 100vw;
    background-color: #EEEBFE;
    position: relative;
}
#main h1{
    text-align: center;
    font-weight: 600;
}

#over,#over2{
   height: 100%;
   width: 100%;
   background-color: rgba(165, 151, 168, 0.5);
   position: absolute;
   backdrop-filter: blur(5px);
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 11;
}

#over form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background-color: rgb(253, 249, 249);
    gap: 4vh;
    justify-content: center;
    border-radius: 14px;
}

#over form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 20vw;
    font-size: 1.2vw;
    border: none;
    outline: none;
    background-color: rgba(206, 206, 244, 0.502);
    font-weight: 600;
}

#over form button{
    padding: 1vh 8vw;
    background-color: rgb(30, 30, 245);
    border: none;
    color: whitesmoke;
    font-size: 1.5vw;    
    font-weight: 800;
}

#over form a{
    color: red;
    font-size: 1.3vw;
}


.open-btn,.open-btn2{
     background-color: #EEEBFE;
     border: none;
     color: blue;
     font-weight: 800;
     margin-left: 4vw;
     font-size: 1.2vw;
     text-decoration: underline;
     cursor: pointer;
}

#routs-container{
    height: 60vh;
    width: 98%;
    margin-top: 3vh;
    padding: 2vh 1vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#routs-container::-webkit-scrollbar{
    display: none;
}

#routs-container h3{
    margin-left: 3vw;
    color: rgb(87, 86, 86);
}


.route{
    height: 100%;
    width:20vw;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.61);
    border-radius: 9px;
    overflow: hidden;
    display: inline-block;
    margin-left:3vw ;
    position: relative;
}

.img-div{
    height: 40%;
    width: 100%;
}

.img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.route span{
    font-size: 1.6vw;
    font-weight: 900;
}

.route span h4{
    margin-left: 1vw;
    margin-top: 2vh;
}

.route a{
    position: absolute;
    top: -5px;
    right: 0;
    text-decoration: none;
    color: red;
    z-index: 1;
    font-size: 3vw;

}

#pic-container{
     height: 40vh;
     width: 100%;
     padding: 1vh;
     overflow-y: hidden;
     overflow-x: scroll;
     white-space: nowrap;
}

#pic-container::-webkit-scrollbar{
    display: none;
}

.open-btn2{
    margin-top: 7vh;
    margin-bottom: 4vh;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.pic{
      height: 100%;
      overflow: hidden;
      display: inline-block;
      margin-left: 3vw;
      width: 20vw;
      border-radius: 9px;
      position: relative;
      cursor: pointer;
      box-shadow: 4px 4px 10px gray;
      background-color: rgb(248, 242, 242);
}

.pic img{
    height: 110%;
    width: 110%;
    object-fit: fill;
    cursor: pointer;
}

.info{
    position: absolute;
    top: 100%;
    left: 0;
    text-wrap: wrap;
    background:linear-gradient(to top,black,rgba(0, 0, 0, 0.861),rgba(0, 0, 0, 0.555));
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3vw;
    font-weight: 600;
    transition: all .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic:hover .info{
    top:0;
}

.deletePic{
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-size: 2vw;

}


#over2 form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background-color: rgb(253, 249, 249);
    gap: 4vh;
    justify-content: center;
    border-radius: 14px;
}

#over2 form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 20vw;
    font-size: 1.2vw;
    border: none;
    outline: none;
    background-color: rgba(206, 206, 244, 0.502);
    font-weight: 600;
}

#over2 form button{
    padding: 1vh 8vw;
    background-color: rgb(30, 30, 245);
    border: none;
    color: whitesmoke;
    font-size: 1.5vw;    
    font-weight: 800;
}

#over2  form a{
    color: red;
    font-size: 1.3vw;
}


@media screen and (max-width:480px) {
    
     
#main{
    height: 140vh;
    width: 100vw;
    overflow-x: hidden;
}
#main h1{
    font-size: 7vw;
}

#over,#over2{
   height: 100%;
   width: 100%;
}

#over form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    background-color: rgb(253, 249, 249);
    gap: 4vh;
    justify-content: center;
    border-radius: 14px;
}

#over form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 60vw;
    font-size: 3.2vw;
}

#over form button{
    padding: 2vh 20vw;
    font-size: 3.8vw;    
    font-weight: 800;
}

#over form a{
    color: red;
    font-size: 3.6vw;
}


.open-btn,.open-btn2{
     margin-left: 4vw;
     font-size: 4.2vw;
     margin-top: 3vh;
}

#routs-container{
    height: 40vh;
    width: 98%;
    margin-top: 3vh;
    padding: 2vh 1vw;
}



#routs-container h3{
    margin-left: 3vw;
    text-wrap: wrap;
}


.route{
    height: 100%;
    width:60vw;
}

.img-div{
    height: 40%;
    width: 100%;
}

.img-div img{
    object-fit: contain ;
}

.route span{
    font-size: 4.6vw;
    font-weight: 900;
}

.route span h4{
    margin-left: 2vw;
    margin-top: 2vh;
}

.route a{
    position: absolute;
    top: 3px;
    right: 1vh;
    font-size: 7vw;
}

#pic-container{
    height: 30vh;
    width: 100%;
    padding: 1vh;
}

.pic{
     height: 100%;
     width: 60vw;
}

.pic img{
   height: 110%;
   width: 110%;
   object-fit: fill;
   cursor: pointer;
}

.info{
   font-size: 3.3vw;
}

.pic:hover .info{
   top:0;
}

.deletePic{
   font-size: 7vw;
}




#over2 form{
    height: 50vh;
    width: 80vw;
    gap: 4vh;
}

#over2 form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 60vw;
    font-size: 3.2vw;
}

#over2 form button{
    padding: 1vh 8vw;
    font-size: 3.5vw;
}

#over2  form a{
    font-size: 3.3vw;
}
}

@media screen and (min-width:481px) and (max-width:720px) {
     
           
#main{
    height: 140vh;
    width: 100vw;
    overflow-x: hidden;
}
#main h1{
    font-size: 5.5vw;
}

#over,#over2{
   height: 100%;
   width: 100%;
}

#over form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 80vw;
    justify-content: center;
    border-radius: 14px;
}

#over form input{
    height:4vh;
    padding:1vh 1.9vw;
    width: 55vw;
    font-size: 3vw;
}

#over form button{
    padding: 1.5vh 10vw;
    font-size: 2.8vw;    
    font-weight: 800;
}

#over form a{
    color: red;
    font-size: 3.6vw;
}


.open-btn,.open-btn2{
     margin-left: 4vw;
     font-size: 3.2vw;
     margin-top: 3vh;
}

#routs-container{
    height: 50vh;
    width: 98%;
    margin-top: 3vh;
    padding: 2vh 1vw;
}



#routs-container h3{
    margin-left: 3vw;
    text-wrap: wrap;
}


.route{
    height: 100%;
    width:50vw;
}

.img-div{
    height: 40%;
    width: 100%;
}

.img-div img{
    object-fit: contain ;
}

.route span{
    font-size: 4vw;
    font-weight: 900;
}

.route span h4{
    margin-left: 2vw;
    margin-top: 2vh;
}

.route a{
    position: absolute;
    top: 3px;
    right: 1vh;
    font-size: 6vw;
}

#pic-container{
    height: 30vh;
    width: 100%;
    padding: 1vh;
}

.pic{
     height: 100%;
     width: 60vw;
}

.pic img{
   height: 110%;
   width: 110%;
   object-fit: fill;
   cursor: pointer;
}

.info{
   font-size: 3.1vw;
}



.deletePic{
   font-size: 6vw;
}

#over2 form{
    height: 50vh;
    width: 80vw;
    gap: 4vh;
}

#over2 form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 60vw;
    font-size: 3.2vw;
}

#over2 form button{
    padding: 1vh 8vw;
    font-size: 3.5vw;
}

#over2  form a{
    font-size: 3.3vw;
}

}

@media screen and (min-width:721px) and (max-width:1030px) {
      
                 
#main{
    height: 140vh;
    width: 100vw;
    overflow-x: hidden;
}
#main h1{
    font-size: 3.5vw;
}

#over,#over2{
   height: 100%;
   width: 100%;
}

#over form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 80vw;
    justify-content: center;
    border-radius: 14px;
}

#over form input{
    height:4vh;
    padding:1vh 1.9vw;
    width: 55vw;
    font-size: 3vw;
}

#over form button{
    padding: 1.5vh 10vw;
    font-size: 2.8vw;    
    font-weight: 800;
}

#over form a{
    color: red;
    font-size: 3.6vw;
}


.open-btn,.open-btn2{
     margin-left: 4vw;
     font-size: 2.7vw;
     margin-top: 3vh;
}

#routs-container{
    height: 45vh;
    width: 98%;
    margin-top: 3vh;
    padding: 2vh 1vw;
}



#routs-container h3{
    margin-left: 3vw;
    text-wrap: wrap;
}


.route{
    height: 100%;
    width:30vw;
}

.img-div{
    height: 40%;
    width: 100%;
}

.img-div img{
    object-fit: contain;
}

.route span{
    font-size: 2.6vw;
    font-weight: 900;
}

.route span h4{
    margin-left: 2vw;
    margin-top: 2vh;
}

.route a{
    position: absolute;
    top: 3px;
    right: 1vh;
    font-size: 4vw;
}

#pic-container{
    height: 30vh;
    width: 100%;
    padding: 1vh;
}

.pic{
     height: 100%;
     width: 30vw;
}

.pic img{
   height: 110%;
   width: 110%;
   object-fit: fill;
   cursor: pointer;
}

.info{
   font-size: 2vw;
}



.deletePic{
   font-size: 4vw;
}

#over2 form{
    height: 50vh;
    width: 80vw;
    gap: 4vh;
}

#over2 form input{
    height:4vh;
    padding:1vh 1.5vw;
    width: 50vw;
    font-size: 2.5vw;
}

#over2 form button{
    padding: 1vh 7vw;
    font-size: 2.5vw;
}

#over2  form a{
    font-size: 3.3vw;
}   

}
