@font-face {
    font-family:gily-roy;
    src: url(./fonts/Gilroy-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    font-family: gily-roy;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#img-div{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.963);
    color: #EEEBFE;
}

#img-div h1{
    font-size: 4vw;
    color:black;
    color: #000000;
}

#img-div h3{
    font-size: 2vw;
    color:black;
    color: #000000;
}
#img-div img{
    height: 70%;
    width: 50%;
    object-fit: fill;
}

#form-div{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EEEBFE;
   justify-content: center;
}

#form-div h2{
    font-weight:bolder;
    font-size: 2vw;
}


#form-div form{
    height: 50vh;
    width: 30vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0 3vw;
    gap: 5vh;
}

#form-div form input{
     height:5vh;
     padding:1vh 2vw;
     width: 20vw;
     font-size: 1.2vw;
     border: none;
     outline: none;
     background-color: rgba(206, 206, 244, 0.502);
     font-weight: 600;
}

#form-div form button{
    padding: 1vh 5vw;
    background-color: rgb(30, 30, 245);
    border: none;
    color: whitesmoke;
    font-size: 1.5vw;    
    font-weight: 800;
}

#form-div form button:hover{
    background-color: rgb(34, 165, 226);
    color: black;
}


button{
    cursor: pointer;
}




@media screen and (max-width:480px) {
      
      
    #main{
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    
    #img-div{
        height: 40%;
        width: 100%;
    }
    
    #img-div img{
        height: 90%;
        width: 55%;
        object-fit: fill;
    }
    
    #form-div{
        height: 90%;
        width: 100%;
    }
    
    #form-div h2{
        font-size: 7vw;
    }
    
    
    #form-div form{
        height: 50vh;
        width: 90vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 3vw;
        gap: 5vh;
    }
    
    #form-div form input{
         height:4vh;
         padding:1vh 2vw;
         width: 70vw;
         font-size: 3.6vw;
    }
    
    #form-div form button{
        padding: 1.8vh 20vw;
        font-size: 3.8vw;
    }   
    
    

 
}


@media screen and (min-width:481px) and (max-width:721px) {
    
    
    
    #img-div{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #img-div img{
        height: 50%;
        width: 70%;
        object-fit: fill;
    }
    
    #form-div{
        height: 100%;
        width: 60%;
    }
    
    #form-div h2{
        font-size: 4.4vw;
    }
    
    
    #form-div form{
        height: 50vh;
        width: 50vw;
        gap: 5vh;
    }
    
    #form-div form input{
         height:4vh;
         padding:1vh 2vw;
         width: 35vw;
         font-size: 2.2vw;
    }
    
    #form-div form button{
        padding: 1.5vh 10vw;
        font-size: 2.5vw;    
        font-weight: 800;
    }

}


@media screen and (min-width:722px) and (max-width:1030px) {
      
       
    #img-div{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #img-div img{
        height: 50%;
        width: 70%;
        object-fit: fill;
    }
    
    #form-div{
        height: 100%;
        width: 60%;
    }
    
    #form-div h2{
        font-size: 3.4vw;
    }
    
    
    #form-div form{
        height: 60vh;
        width: 50vw;
        gap: 5vh;
    }
    
    #form-div form input{
         height:5vh;
         padding:1vh 2vw;
         width: 29vw;
         font-size: 1.9vw;
    }
    
    #form-div form button{
        padding: 1.5vh 6vw;
        font-size: 1.9vw;    
        font-weight: 800;
    }
      
}